.clientStartAfterNavbar, .supplierStartAfterNavbar {
    margin-top: 60px;
}

.clientImageStartAfterNavbar, .supplierImageStartAfterNavbar {
    margin-top: 70px;
}

.jumbotronClientStartAfterNavbar, .jumbotronSupplierStartAfterNavbar {
    margin-top: 70px;
}

.supplierTextBoxStartAfterNavbar {
    margin-top: 75px;
}

@media screen and (max-width: 394px) {

    .jumbotronClientStartAfterNavbar, .clientStartAfterNavbar {
        margin-top: 105px;
    }

    .clientImageStartAfterNavbar {
        margin-top: 105px;
    }
}
