.navbar-custom {
    background-color: #F83442;
}

.item {
    color: white !important;
}

.navbar-custom .form-inline .input-group .form-control .input-group-prepend .btn,
.navbar-custom .form-inline .abs-center-x .input-group-prepend .btn {
    background-color: white;
}

@media (min-width: 768px) {
    .navbar-custom .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

#notification, #kart {
    font-size: 20px;
}

@media (max-width: 1200px) {
    #notification, #kart {
        margin-left: 6px;
    }
}
