#collapsibleNavbar {
    flex-grow: 0 !important;
}

.navbar {
    z-index: 1 !important;
}

#search-form {
    flex-grow: 1 !important;
}

.navbar-custom {
    background-color: #F83442;
    z-index: 100 !important;
}

.search-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-review {
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item {
    color: white !important;
}

.p-list {
    margin-bottom: 0px;
}

#result {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
    top: 40px;
}

.hidden
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.link-class:hover {
    background-color:#f1f1f1;
}
.changePlus {
    background-color: #3399ff;
}
.btn-kart {
    background-color: #F83442;
}

.navbar-custom .form-inline .input-group .form-control .input-group-prepend .btn,
.navbar-custom .form-inline .abs-center-x .input-group-prepend .btn {
    background-color: white;
}

@media (min-width: 768px) {
    .navbar-custom .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

#notification, #kart {
    font-size: 20px;
}

@media (max-width: 1200px) {
    #notification, #kart {
        margin-left: 6px;
    }
}
