#mainForm{
    margin-top: 100px;
}

h1, h2 {
    color: #F83442;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

table {
    text-align: center;

}

table, th, td {
    vertical-align: inherit !important;
}

.noresult {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.category-btn {
    margin-bottom: 50px;
}

.btn-primary:focus{
    background-color: rgb(0, 255, 0);
    border-color:rgb(94, 79, 126);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
    outline: 0 none;
}
